<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatistest.demo.mapper.ChallengeMapper">
    <resultMap id="BaseResultMap" type="com.example.mybatistest.demo.entity.Challenge">
        <result column="cid" jdbcType="VARCHAR" property="cid" />
        <result column="titles" jdbcType="VARCHAR" property="title" />
        <result column="describution" jdbcType="VARCHAR" property="describution" />
        <result column="flag" jdbcType="VARCHAR" property="flag" />
        <result column="challengeType" jdbcType="VARCHAR" property="challengeType" />
        <result column="mode" jdbcType="VARCHAR" property="mode" />
        <result column="score" jdbcType="INTEGER" property="score" />
        <result column="deal" jdbcType="INTEGER" property="deal" />
    </resultMap>
    <sql id="Challenge_info_to_user" >
        cid,titles,describution,challengeType,score,deal
    </sql>
    <select id="selectById" resultType="com.example.mybatistest.demo.entity.Challenge">
        select * from challenge where cid= #{cid}
    </select>
    <select id="selectByChallengeTitle" resultType="com.example.mybatistest.demo.entity.Challenge">
        select * from challenge where title like #{title}
    </select>

    <insert id="addChallenge" parameterType="com.example.mybatistest.demo.entity.Challenge">
        insert into challenge (cid,titles,describution,flag,challengeType,mode,score,deal) VALUES (#{cid},#{titles},#{describution},#{flag},#{challengeType},#{mode},#{score},0)
    </insert>

    <select id="getAllChallenge" resultMap="BaseResultMap" >
        select 
         <include refid="Challenge_info_to_user"></include>
         from challenge
    </select>
    <select id="selectByFlag" resultType="com.example.mybatistest.demo.entity.Challenge">
        select * from challenge where flag = #{flag} and cid = #{cid}
    </select>
</mapper>